// #copyright-switch{
//     width:650px; 
//     margin:20px 0;
//     border:1px solid #ddd; 
//     background-color:#f7f7f7;
//      padding:10px; 
//     }
// #copyright-switch span.des{ 
//     color:#999; 
//     margin-left:10px;
//  }
// #copyright-switch label{ 
//     width:500px; 
//     display:inline-block
//  }
.header {
    font-size: 23px;
}
.option-left {
    width: 650px;
    border: 1px solid;
}
.prism-config{
    border: 1px solid;
}